<h1>Agents</h1>

<%= link_to "New agent", new_agent_path %>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Agent Name</th>
  </tr>
  <% @agents.each do |agent| %>
    <tr>
      <td><%= agent.id %></td>
      <td><%= link_to agent.name, agent_path(agent) %></td>
    </tr>
  <% end %>
</table>
